.header{
	height: 60px;
	display: flex;
	align-items: center;
	background-color: #131921;
	position: sticky;
	top:0;
	z-index:100;
}
.logo{
	width:100px;
	object-fit: contain;
	margin: 0 20px;
	margin-top: 18px;
	
}
.search{
	display: flex;
	flex: 2;
	align-items: center;
	border-radius: 24px;
}
.searchbox{
	padding: 10px;
	height: 12px;
	border: none;
	width: 100%;
}
.search-icon{
	background-color:#cd9042;
	padding: 5px;
	height: 22px !important;
}
.header-nav-options{
	display: flex;
	flex: 1;
	justify-content: space-evenly;
}
.option{
	display: flex;
	flex-direction: column;
	color: white;
	padding: 0 10px;
}
.option-line-one{
	font-size: 10px;
}
.option-line-two{
	font-size: 13px;
	font-weight: 800;
}
.option-basket{
	display: flex;
	align-items: center;
	color: white;
	
}
.basket-count{
	padding: 0 10px;

}