.login{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.login-logo{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 120px;
	object-fit: contain;
	margin-right: auto;
	margin-left: auto;
}
.login-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	width:25%;
	padding: 20px;
	border:1px solid lightgray ;
	border-radius: 5px;
	background-color: white;
}
.login-form{
	
	width: 98%;
		
}
.login-form> h1 {
	font-weight: 500;
}
.email{
	width: 98%;
	margin-top: 10px;
	margin-bottom: 5px;
}
.pass{
	margin-bottom: 5px;
}
.input-email{
	width: 98%;
	height: 30px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 5px;
}
.input-pass{
	width: 98%;
	height: 30px;
	margin-bottom: 10px;
	background-color: white;
	border-color: lightgray;
	border-radius: 5px;
}
.button-signin{
	width: 98%;
	background: #f0c14b;
	height: 30px;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.login-container>p{
	font-size: 12px;
	margin-top: 15px;
	margin-bottom: 15px;

}
.signup-button{
	
	height: 30px;
	width: 98%;
}