.shoppingCardproduct{
	display: flex;
	margin-top: 20px;
	margin-bottom: 20px;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	max-width: 85%;


}
.shoppingCardproduct-image{
	max-height: 200px;
	/*width: 60%;*/
	object-fit: contain;
}
.shoppingCardproduct-info{
	padding-left: 20px;
}
.shoppingCardproduct-title{
	font-size: 17px;
	font-weight: 800;
}
.shoppingCardproduct-rating{
	display: flex;
}
.shoppingCardproduct-button{
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}